{
    "presets": [
        [
            "@babel/preset-env",
            {   
                "modules": false, // 无需babel将es module转换为AMD,commonjs, UMD之类的
                "targets": {
                    "browsers": ["last 2 versions", "safari >=7"] //支持每个浏览器最后两个版本和safari大于等于7版本所需的polyfill代码转换
                },
               
                "useBuiltIns": "usage", //babel polyfill 按需加载
                "corejs": "3"  
            }
        ],
        [
            "@babel/preset-react"
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        [
            "import",{ "libraryName": "antd", "style": "css"}
        ]
    ]
}